<%- include("header"); -%>
<%- include("navbar"); -%>
<h1>About me</h1>
<p>A blog site to document my experiences of learning to code. Looking to move from accounting to software development.</p>
<%- include("footer"); -%>