<%- include("header"); -%>
<%- include("navbar"); -%>
<h1 style="font-size: 3rem;">Compose</h1>
<form class="compose" action="/compose" method="POST">
    <label for="title">Title:</label>
    <input class="add-post-title" type="text" name="title">
    <label for="content">Content:</label>
    <textarea class="add-post-content" name="content"></textarea>
    <button type="submit">Post</button>
</form>
<h3 class="noTitleError">ERROR! Add a title</h3>
<h3 class="noContentError">ERROR! Add some content</h3>
<%- include("footer"); -%>