<div class="navbar">
    <span><img src="../images/navbar-logo.png" class="navbar-image" alt=""></span>
    <span class="navbar-title">GEORGE'S BLOG</span>
    <ul class="navbar-list">
        <li class="navbar-list-item"><a href="/">Home</a></li>
        <li class="navbar-list-item"><a href="/about">About Us</a></li>
        <li class="navbar-list-item"><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<div class="container">
    <div class="content">