<div class="navbar">
    <span class="navbar-title">GEORGE'S BLOG</span>
    <ul class="navbar-list">
        <li class="navbar-list-item"><a href="">Home</a></li>
        <li class="navbar-list-item"><a href="">About Us</a></li>
        <li class="navbar-list-item"><a href="">Contact Us</a></li>
    </ul>
</div>
<div class="container">