body {
    margin: 0px;
    height: 100vh;
    font-family: 'Cantarell', sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.navbar {
    background-color: rgb(241, 238, 238);
    width: 100%;
    display: flex;
    align-items: center;
    color: grey;
    justify-content: flex-end;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.navbar-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-right: 15vw;
}

.navbar-list-item {
    display: inline-flex;
    margin-right: 2vw;
}

.navbar-list-item a {
    text-decoration: none;
    color: grey;
}

.navbar-list-item a:hover {
    color: #12947f;
}

.navbar-title {
    margin-right: auto;
    margin-left: 15vw;
    font-size: 1.25rem;
}

.footer {
    background-color: #12947f;
    width: 100%;
    display: flex;
    align-items: center;
    color: grey;
    justify-content: center;
    margin-top: auto;
    color: white;
}

.all-blog-posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    list-style: none;
    padding: 0px;
}

.blog-post-time {
    color: rgb(211, 205, 205);   
}

.add-post-title {
    margin-bottom: 3vh;
    width: 30%;
}

form {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-post-content {
    width: 50vw;
    height: 20vh;
    margin-bottom: 2vh;
    vertical-align: text-top;
}

button {
    background-color: #12947f;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 4vw;
    height: 3vh;
}

button:hover {
    color: #12947f;
    background-color: rgb(221, 216, 216);
}